spring:
  application:
    name: bgv-billing-service
  datasource:
    url: jdbc:postgresql://dpg-d50f7vp5pdvs739215kg-a.singapore-postgres.render.com/bgv_auth_db

    username: ${DB_USERNAME:bgv_auth_db_user}
    password: ${DB_PASSWORD:wIF3oEkjUfLI0glZ7aLZP5J1CdJEsgtq}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # Use Flyway for migrations
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    clean-on-validation-error: true
    clean-disabled: false		
# Server Configuration
server:
 port: ${SERVER_PORT:8094}